@import './keyframes-success.css';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.buttonsContainer {
    padding: 35px;
    background: #fff;
    width: 500px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 3px 25px rgb(39 36 36 / 52%);
}

h1 {
    position: static;
    text-align: center;
    padding-bottom: 60px;
    text-shadow: 0 2px 5px rgba(255, 255, 255, 0.871);
}
