img.logo {
    margin-top: 20px;
    position: relative;
    animation: move 15s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    width: 57px;
    height: 57px;
}

img.logo:hover {
    cursor: pointer;
    background-color: $primary-color;
}
