@import 'variables';

@mixin main-title-big-center {
    position: static;
    text-align: center;
    font-size: 60px;
    min-height: 100px;
    margin-bottom: 50px;
}

@mixin main-title-black-shadow {
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    text-shadow: 0 2px 5px rgb(0, 0, 0);
}

@mixin main-title-orange-animation {
    animation: orangeRotation 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

@mixin body-background-and-font {
    font: 100% Trebuchet MS, Lucida Sans Unicode, Lucida Grande;
    background-image: url('../../../assets/grill-man.jpg');
    background-size: 100%;
}

@mixin button-centered {
    display: flex;
    justify-content: center;
    margin: auto;
    cursor: pointer;
    padding: 14px 20px;
    width: 100%;
    &:hover {
        opacity: 0.5;
    }
}

@mixin button-orange-design {
    color: $fire-orange;
    background-color: white;
    border: 2px solid $fire-orange;
}

@mixin button-redirect-blue-design {
    color: $link-color;
    background-color: white;
    border: 3px solid $primary-color;
}

@mixin container-mini-link-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 630px;
    padding: 10px 8px;
}

@mixin container-large-data-designed {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    width: 100%;
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
}

@mixin container-centered-medium {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 650px;
    padding: 20px 80px 20px 80px;
}

@mixin container-designed {
    background-color: $almost-invisible-color;
    border: 4px solid $primary-color;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(1, 1, 1);
}

@mixin text-orange-small {
    font-size: 30px;
    text-align: center;
    color: $fire-orange;
}

@mixin table-aligned-designed {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

@mixin th-aligned-designed {
    height: 70px;
    color: white;
    background-color: $fire-orange;
    border: 0.01px solid black;
    -webkit-text-stroke: 0.1px rgb(0, 0, 0);
}

@mixin tr-aligned-designed {
    height: 40px;
    &:nth-child(odd) {
        color: white;
        background-color: $primary-color;
        -webkit-text-stroke: 0.05px rgb(0, 0, 0);
    }
}

@mixin td-aligned-designed {
    border: 0.01px solid black;
}

@mixin text-table-designed-aligned {
    font-size: 19px;
    padding-left: 10px;
    padding-right: 10px;
}

@mixin text-head-table-designed-aligned {
    font-size: 24px;
    padding-right: 10px;
    padding-left: 10px;
}
