.mainContainer {
    @include container-centered-medium;
    @include container-designed;
    position: relative;
    width: 1300px;
    height: 670px;
}

.recipesContainer {
    @include container-large-data-designed;
}

.popupContainter {
    @include container-pop-invisible;
    border-radius: 10px;
    visibility: hidden;
}

.show {
    visibility: visible;
    animation: fadeIn 1s;
}
