th {
    @include th-aligned-designed;
    overflow-x: unset !important;
}

table {
    @include table-aligned-designed;
}

tr {
    @include tr-aligned-designed;
}

td {
    @include td-aligned-designed;
}

.ingredients {
    min-width: 450px;
    max-width: 450px;
}

.recipeName {
    min-width: 200px;
    max-width: 200px;
}
