.tableText {
    @include text-table-designed-aligned;
}

.tableTextHead {
    @include text-head-table-designed-aligned;
}

.recipePopupName {
    @include textbox-designed;
    position: relative;
    top: 100px;
    height: 70px;
    width: 75%;
    &:hover {
        opacity: 0.7;
    }
}

.descriptionText {
    font-size: 45px;
}
