$fire-orange: #d77300;

button {
    background-color: white;
    color: $fire-orange;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px solid $fire-orange;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}
