$primary-color: #ababab;
$main-container-width: 650px;
$project-radius: 10px;
$box-shadow: 0 3px 20px rgb(1, 1, 1);
$background-half-visible-color: #ffffff08;

.container {
    padding: 20px 80px 20px 80px;
    margin: 1px auto;
    width: $main-container-width;
    display: flex;
    flex-direction: column;
    background-color: $background-half-visible-color;
    border: 4px solid $primary-color;
    border-radius: $project-radius;
    box-shadow: $box-shadow;
}
