$fire-orange: #d77300;

@keyframes rainbowColor {
    //not in use
    7% {
        color: rgb(174, 210, 161);
    }
    14% {
        color: rgb(102, 189, 109);
    }
    21% {
        color: rgb(47, 186, 56);
    }
    29% {
        color: rgb(229, 255, 0);
    }
    36% {
        color: rgb(255, 247, 0);
    }
    43% {
        color: rgb(251, 188, 0);
    }
    51% {
        color: rgb(255, 136, 0);
    }
    58% {
        color: rgb(255, 47, 0);
    }
    65% {
        color: rgb(255, 0, 115);
    }
    72% {
        color: rgb(255, 0, 204);
    }
    79% {
        color: rgb(200, 0, 255);
    }
    86% {
        color: rgb(19, 83, 221);
    }
    93% {
        color: rgb(147, 149, 219);
    }
    100% {
        color: rgb(200, 202, 224);
    }
}

@keyframes orangeRotation {
    50% {
        color: $fire-orange;
    }
}

@keyframes move {
    0% {
        left: 0%;
    }
    5% {
        left: 10%;
    }
    10% {
        left: 20%;
    }
    15% {
        left: 30%;
    }
    20% {
        left: 40%;
    }
    25% {
        left: 50%;
    }
    30% {
        left: 60%;
    }
    35% {
        left: 70%;
    }
    40% {
        left: 80%;
    }
    45% {
        left: 88.5%;
    }
    50% {
        left: 96.5%;
    }
    55% {
        left: 88.5%;
    }
    60% {
        left: 80%;
    }
    65% {
        left: 70%;
    }
    70% {
        left: 60%;
    }
    75% {
        left: 50%;
    }
    80% {
        left: 40%;
    }
    85% {
        left: 30%;
    }
    90% {
        left: 20%;
    }
    95% {
        left: 10%;
    }
    100% {
        left: 0px;
    }
}
