@import './keyframes.css';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    background-image: url('../../pictures/grill-man.jpg');
    background-size: 100%;
}

h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 25px;
    animation: rainbowColor 10s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    position: static;
    -webkit-text-stroke: 2px rgb(255, 183, 0);
}

img.logo {
    position: relative;
    background-color: rgb(248, 175, 38);
    animation: move 10s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

form {
    background-color: #ababab67;
    border: 4px solid #ababab;
}

.container {
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0 15px 0;
    display: ruby-base-container;
    border: 3px solid #ababab;
    box-sizing: border-box;
}

.whiteText {
    color: #e8e7e7;
}

input[type='text']:hover,
input[type='password']:hover {
    opacity: 0.75;
}

button {
    background-color: #ffffff;
    color: #d77300;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px double #d77300;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}
