@import './keyframes-login.css';

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    background-image: url('../../pictures/grill-man.jpg');
    background-size: 100%;
}

h1 {
    text-shadow: 0 2px 5px rgb(255, 255, 255);
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-bottom: 50px;
    animation: rainbowColor 15s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
}

img.logo {
    margin-top: 40px;
    position: relative;
    background-color: #abababb1;
    animation: move 15s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    width: 57px;
    height: 57px;
}

img.logo:hover {
    cursor: pointer;
    background-color: #ababab;
}

.container {
    padding: 30px;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 3px 20px rgb(255, 255, 255);
    width: 700px;
    background-color: #ababab67;
    border: 4px solid #ababab;
    padding: 20px 80px 20px 80px;
}

input[type='text'],
input[type='password'] {
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0 15px 0;
    display: ruby-base-container;
    border: 3px solid #ababab;
    box-sizing: border-box;
}

.whiteText {
    color: #e8e7e7;
}

input[type='text']:hover,
input[type='password']:hover {
    opacity: 0.75;
}

button {
    background-color: #ffffff;
    color: #d77300;
    padding: 14px 20px;
    margin: 8px 0;
    border: 2px double #d77300;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}
