$fire-orange: #d77300;

@keyframes orangeRotation {
    50% {
        color: $fire-orange;
    }
}

@keyframes poundHeart {
    5% {
        transform: scale(0.8);
    }
    10% {
        transform: scale(0.9);
    }
    20% {
        transform: scale(0.8);
    }
    25% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(0.8);
    }
}
